.l-error__copy {
    font-size: 32px;
    font-size: 2.28571rem;
    line-height: 1.4em;
    color: #aaa;
    font-weight: 100;
}

.l-error__title {
    font-size: 72px;
    font-size: 5.14286rem;
    line-height: 1.3em;
    font-weight: 100;
}

.l-error__body {
    padding: 0 33.33333% 0 8.33333%;
}